.idea/*
*.iml
target/**
**/target/**

**/.factorypath
**/.classpath
**/.project
**/.settings
**/.DS_Store

evaluator-tensorflow/h5_converter/__pycache__/*
evaluator-tensorflow/h5_converter/dist/*
evaluator-tensorflow/h5_converter/build/*
evaluator-tensorflow/tmp/*
evaluator-tensorflow/h5_converter/h5_converter.spec

evaluator-torch/libtorch-*